<h1>My Jupyter Notebook IBM Watson Studio</h1>

<div><b>Jordan Carter</b></div>
To do research in Artificial intelligence

<i>I am interested in data science because I was interested in learning the process of collecting, processing, and analyzing data. I wanted to better understand this process in order to improve my data processing skills, and hopefully earn and intership with these skils while at college.</i>

<h3>Simply outputs the first 10 numbers</h3>

In [1]:
for i in range(10):
    print(i + 1)

1
2
3
4
5
6
7
8
9
10

<p>This is a <del>stakethrough</del> strikethrough</p>
<ul>
    <li>Favorite Color: Black</li>
    <li>Favorite Video Game: Pikmin</li>
    <li>Favorite Show: Bleach</li>
</ul>

<table> 
    <tr> 
        <th>Subjects</th>
        <th>Vehicles</th>
    </tr>
    <tr> 
        <th>Math</th>
        <th>Car</th>
    </tr>
    <tr>
        <th>English</th>
        <th>Motorcycle</th>
    </tr>
</table>